@page "/store"

<div class="store">
    <main>
        @if (gameList!=null && gameList.Count>0)
        {
            @foreach (var item in gameList)
            {
                <a class="game-card" href="#">
                    <article>
                        <div>
                            <img src="@item.Image" />
                        </div>
                        <h3>@item.Title</h3>
                        <p>@item.Description</p>
                        <footer>
                            @if(item.DiscountRate > 0)
                            {
                                <div>-@item.DiscountRate.ToString("P0")</div>
                                <p>
                                    <del>@item.Price USD</del>                                
                                </p>
                                <span>@(item.Price - item.Price*item.DiscountRate) USD</span>
                            }
                            else
                            {
                                <span>@(item.Price) USD</span>
                            }                            
                        </footer>
                    </article>
                </a>
            }
        }
    </main>

</div>


@code
{
    List<Game> gameList = new List<Game>();

    protected override async Task OnInitializedAsync()
    {
        gameList.Add(new Game()
        {
            Title = "Resident Evil 3",
            Image = "https://i.blogs.es/fc491f/300320-re3-review/450_1000.jpeg",
            Description = "Resident Evil 3",
            Price = 50,
            DiscountRate = 0
        });

        gameList.Add(new Game()
        {
            Title = "Hades",
            Image = "https://i.3djuegos.com/juegos/16330/hades/fotos/maestras/hades-5231106.jpg",
            Description = "Hades",
            Price = 35,
            DiscountRate = decimal.Parse("0.05")
        });
    }
}