@page "/store"
@inject IHttpService service

<div class="store">
    <main>
        @if (gameList!=null && gameList.Count>0)
        {
            @foreach (var item in gameList)
            {
                <a class="game-card" href="#">
                    <article>
                        <div>
                            <img src="@item.Image" />
                        </div>
                        <h3>@item.Title</h3>
                        <p>@item.Description</p>
                        <footer>
                            @if(item.DiscountRate > 0)
                            {
                                <div>-@item.DiscountRate.ToString("P0")</div>
                                <p>
                                    <del>@item.Price USD</del>                                
                                </p>
                                <span>@(item.Price - item.Price*item.DiscountRate) USD</span>
                            }
                            else
                            {
                                <span>@(item.Price) USD</span>
                            }                            
                        </footer>
                    </article>
                </a>
            }
        }
    </main>

</div>


@code
{
    List<Game> gameList = new List<Game>();

    protected override async Task OnInitializedAsync()
    {
       gameList  = await service.Get<List<Game>>("game");
    }
}